.venv/
__pycache__/
*.pyc
build/
dist/
**/bin/
**/obj/
*.snk
node_modules/
powerpages/webforms-spa/.powerpages-site/
powerpages/tacatdp-monitoring-tool-upload/
artifacts/xforms/
artifacts/exports/
.~lock.*#

.env
.env.*
!.env.example
